/**************/
/* CSS REMEDY */
/**************/

@font-face{
  font-family:'Starwars';
  src:url(/fonts/Genova-Medium.woff2) format(woff2); 
}
@font-face{
  font-family: 'Jedi_outline';
  src:url(/fonts/Jedi_outline.woff2) format(woff2); 
}

@font-face{
  font-family: 'Fictie_Starwars';
  src:url(/fonts/Starwarsfictie\ Bold\ Italic.woff2); 
}

@font-face{
  font-family: 'Tekst_Starwars';
  src:url(/fonts/Starwarsinformatie.woff2); 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: rgb(255, 215, 0);
  --background-color: rgb(90 90 90/ .50); 
  
  /* ... */
}

*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}


img {
  max-width:100%;
}

/************/
/* HET GRID */
/************/

body {
  margin:0;
  height: 100vh; 

  background-image: url("/images/background\ image.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 

  display: grid;
  grid-template-columns: 20% 1fr 1fr; 
  /* grid-template-rows: max-content 1fr 1fr; */
  grid-template-rows: 8% 46% 46%;
  cursor: url("/Cursor/Jedi_Wit.png"), pointer; 
  
  }

h1 {
  grid-column-start: 1;
  grid-column-end: 4; 
  background-color: var(--background-color); 
  font-family: "Jedi_outline"; 
  text-align: center;
}

h2 {
  font-family: "Starwars"; 
}

ul{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--background-color); 
  /* background-color: rgb(90 90 90/ .50);  */
  display: grid; 
  place-items: center;
}
li{
  list-style: none; 
}

li button{
  aspect-ratio: 1;
  width: 6em;
  background-color: rgb(151, 151, 151);
  background: linear-gradient(transparent, transparent);
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.3); 
  border-radius: 100em;
  display: grid; 
  place-items: center;
  margin: 0.3em; 
  border: none;
  transition: transform 0.5s; 

}
li button:hover{
Scale: 1.2;
background: linear-gradient(transparent, transparent);
transform: rotate(360deg);
transition: all 0.5s ease-in-out; 
}

/**********************/
/* Lightsaber section */
/**********************/

section:nth-of-type(1){
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex; 
  align-items: end;
  background-color: var(--background-color); 
   
}
section:nth-of-type(1) .container{
  /* background-color: var(--background-color);  */
  display: flex;
  width: 100%;
  bottom: 3em;
  flex-direction: column;
  align-items: center;  
}

section:nth-of-type(1) .container img{
  width: 100px;
  margin-top: -2em;
}

section:nth-of-type(1) .container img:nth-of-type(2){
  width: 220px;
  margin-top: -2em;
}

/**********************/
/* Blauwe lichtzwaard (standaard) */
/**********************/

section:nth-of-type(1) div div{
  width: 1.3em;
  height: 27em;
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em;

  scale:1 0;
  transform-origin: center bottom;
}

@keyframes slideUp{
  from{
     scale:1 0;
   }
   to{
     scale:1 1;
    }
 }

/**********************/
/* Blauwe lichtzwaard */
/**********************/

section:nth-of-type(1) div div.blue{
  background-image: linear-gradient(to top, #00C9EF, #81F3FF);
  box-shadow: 0 0 2em rgba(0, 201, 239, 0.90);
  animation: forwards slideUp 1.2s ease-out; 
}


/**********************/
/* Groene lichtzwaard */
/**********************/

section:nth-of-type(1) div div.green{
  background-image: linear-gradient(to top, #0AFF30, #A7FFA3);
  box-shadow: 0 0 2em rgba(10, 255, 48, 0.9);
  animation: forwards slideUp 1.2s ease-out; 
}

/**********************/
/* Gele lichtzwaard */
/**********************/

section:nth-of-type(1) div div.yellow{
  background-image: linear-gradient(to top, #FFE243, #FAF697);
  box-shadow: 0 0 2em rgba(255, 226, 67, 0.9);
  animation: forwards slideUp 1.2s ease-out; 
}

/**********************/
/* Paarse lichtzwaard */
/**********************/

section:nth-of-type(1) div div.purple{
  background-image: linear-gradient(to top, #BF22DB, #FF00FF);
  box-shadow: 0 0 2em rgba(191, 34, 219, 0.9);
  animation: forwards slideUp 1.2s ease-out; 
}

/**********************/
/* Rode lichtzwaard */
/**********************/

section:nth-of-type(1) div div.red{
  background-image: linear-gradient(to top, #FF1F1F, #FF6767);
  box-shadow: 0 0 2em rgba(255, 31, 31, 0.9);
  animation: forwards slideUp 1.2s ease-out; 
}

/**********************/
/* Witte lichtzwaard */
/**********************/

section:nth-of-type(1) div div.white{
  background-image: linear-gradient(to top, #DBDBDB, #FFFFFF);
  box-shadow: 0 0 2em rgba(219, 219, 219, 0.9);
  animation: forwards slideUp 1.2s ease-out; 
}




section:nth-of-type(2){
  /* background-image:url(../images/Test/test\ 1.png); */
  background:linear-gradient(to bottom, rgb(204, 204, 204), rgb(51, 51, 51));
  display: flex;
  justify-content: center;
  align-items: center;  
}

.containerHB{
  width: 90%; 
  height: 90%;
}




section:nth-of-type(3){
  /* background-image:url(../images/Test/test\ 2.png);  */
  background-color: #0ff;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; 
}

.containerKJ{
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%; 
  grid-template-rows: 1fr;
}

a{
  text-decoration: none;
  display: inline-block; 
}
.containerKJ img{
 grid-column-start: 2;
 grid-row-start: 1;
 scale: 1;
 width: 80%;
 justify-self: center; 
}

.containerKJ p, h2{
  grid-column-start: 1;
  grid-row-start: 1;
   
}

.containerKJ p:nth-of-type(2){
  padding-bottom: 1em; 
}

h2 {
  padding-top: 0.2em;
}

p {
  font-family: 'Tekst_Starwars';
  font-size:0.8em;
  line-height: 1.3;
  padding-top: 0.2em;
   
}

section img{
  scale: 0.8;
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

button {
  cursor: url("/Cursor/Jedi_Geel.png"), pointer; 
}

ul li:nth-child(5) button {
  cursor: url("/Cursor/Sith_Rood.png"), pointer;
}


@media (max-width: 70em) {
  section:nth-of-type(1) div div{
    max-height: 20em;
  }
}