/**************/
/* CSS REMEDY */
/**************/
/* naar een idee van Jen Simmons */
@font-face{
  font-family: 'Jedi';
  src:url(/fonts/Starjedi.woff2) format(woff2);
}
@font-face{
  font-family:'Starwars';
  src:url(/fonts/Genova-Medium.woff2) format(woff2); 
}
@font-face{
  font-family: 'Jedi_outline';
  src:url(/fonts/Jedi_outline.woff2) format(woff2); 
}
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}

/************/
/* HET GRID */
/************/

body {
  margin:0;
  height: 100vh; 

  background-image: url("/images/background\ image.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 

  display: grid;
  grid-template-columns: 20% 1fr 1fr; 
  grid-template-rows: max-content 1fr 1fr;
}

h1 {
  grid-column-start: 1;
  grid-column-end: 4; 
  background-color: rgb(90 90 90/ .70);
  font-family: 'Jedi_outline'; 
  text-align: center; 
}

ul{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4; 
  background-color: rgb(90 90 90/ .70); 
  display: grid; 
  place-items: center;
}
li{
  list-style: none; 
}

li button{
  aspect-ratio: 1;
  width: 6em;
  background-color: red; 
  border-radius: 100em; 
  display: grid; 
  place-items: center;
  margin: 0.3em; 
  border: none; 

}
li button:hover{
  background-color:#f80;
/* animation-name: kristal;  */
/* animation-duration: 1s; */
scale: 1.2;
transition: all 0.5s ease-in-out; 

}
/* @keyframes kristal{
  0% {
scale: 1; 
  }
  50%{
scale: 1.2; 
  }
  100%{
scale: 1; 
  }
} */

/* ls section */
section:nth-of-type(1){
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:blue; 
}
section:nth-of-type(1) .container{
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 3em;
  flex-direction: column;
  align-items: center;
}
section:nth-of-type(1) .container img{
  width: 100px;
  /* background-color: #f00; */
  margin-top: -2px;
}
section:nth-of-type(1) div div{
  width: 1.3em;
  height: 30em;
  background-image: linear-gradient(to top, red, yellow);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 50px;
}



section:nth-of-type(2){
  background-color: #ffffff; 
}

section:nth-of-type(3){
  background-color: #0ff; 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: #FFD700;
  /* ... */
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

/* ... */


