/**************/
/* CSS REMEDY */
/**************/
/* naar een idee van Jen Simmons */
@font-face{
  font-family: 'Jedi';
  src:url(/fonts/Starjedi.woff2) format(woff2);
}
@font-face{
  font-family:'Starwars';
  src:url(/fonts/Genova-Medium.woff2) format(woff2); 
}
@font-face{
  font-family: 'Jedi_outline';
  src:url(/fonts/Jedi_outline.woff2) format(woff2); 
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: rgb(255, 215, 0);
  --background-color: rgb(90 90 90/ .50); 
  /* ... */
}

*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}

/************/
/* HET GRID */
/************/

body {
  margin:0;
  height: 100vh; 

  background-image: url("/images/background\ image.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 

  display: grid;
  grid-template-columns: 20% 1fr 1fr; 
  grid-template-rows: max-content 1fr 1fr;
}

h1 {
  grid-column-start: 1;
  grid-column-end: 4; 
  background-color: var(--background-color); 
  font-family: "Jedi_outline"; 
  text-align: center; 
}

h2 {
  font-family: "Starwars"; 
}

ul{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--background-color); 
  /* background-color: rgb(90 90 90/ .50);  */
  display: grid; 
  place-items: center;
}
li{
  list-style: none; 
}

li button{
  aspect-ratio: 1;
  width: 6em;
  background-color: rgb(151, 151, 151);
  background: linear-gradient(transparent, transparent);
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.3); 
  border-radius: 100em;
  display: grid; 
  place-items: center;
  margin: 0.3em; 
  border: none;
  transition: transform 0.5s; 

}
li button:hover{
Scale: 1.2;
background: linear-gradient(transparent, transparent);
transform: rotate(360deg);
transition: all 0.5s ease-in-out; 
}

/**********************/
/* Lightsaber section */
/**********************/

section:nth-of-type(1){
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex; 
  align-items: end; 
}
section:nth-of-type(1) .container{
  background-color: var(--background-color); 
  display: flex;
  width: 100%;
  bottom: 3em;
  flex-direction: column;
  align-items: center;  
}

section:nth-of-type(1) .container img{
  width: 100px;
  margin-top: -2em;
}

section:nth-of-type(1) .container img:nth-of-type(2){
  width: 220px;
  margin-top: -2em;
}



/**********************/
/* Blauwe lichtzwaard (standaard) */
/**********************/

section:nth-of-type(1) div div{
  width: 1.3em;
  height: 27em;
  background-image: linear-gradient(to top, #00C9EF, #81F3FF);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em; 
  box-shadow: 0 0 2em rgba(0, 201, 239, 0.90);
}

/**********************/
/* Blauwe lichtzwaard */
/**********************/

section:nth-of-type(1) div div.blue{
  width: 1.3em;
  height: 27em;
  background-image: linear-gradient(to top, #00C9EF, #81F3FF);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em; 
  box-shadow: 0 0 2em rgba(0, 201, 239, 0.90);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  animation: forwards slideUp 1.2s ease-out; 
}

@keyframes slideUp{
 from{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    box-shadow: 0 0 2em rgba(0, 201, 239, 0.90);

  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 0 0 2em rgba(0, 201, 239, 0.90);
    }
}
/**********************/
/* Groene lichtzwaard */
/**********************/

section:nth-of-type(1) div div.green{
  width: 1.3em;
  height: 27em;
  background-image: linear-gradient(to top, #0AFF30, #A7FFA3);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em; 
  box-shadow: 0 0 2em rgba(10, 255, 48, 0.9);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  animation: forwards slideUp 1.2s ease-out; 
}

/**********************/
/* Gele lichtzwaard */
/**********************/

section:nth-of-type(1) div div.yellow{
  width: 1.3em;
  height: 27em;
  background-image: linear-gradient(to top, #FFE243, #FAF697);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em; 
  box-shadow: 0 0 2em rgba(255, 226, 67, 0.9);
}

/**********************/
/* Paarse lichtzwaard */
/**********************/

section:nth-of-type(1) div div.purple{
  width: 1.3em;
  height: 27em;
  background-image: linear-gradient(to top, #BF22DB, #FF00FF);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em; 
  box-shadow: 0 0 2em rgba(191, 34, 219, 0.9);
}

/**********************/
/* Rode lichtzwaard */
/**********************/

section:nth-of-type(1) div div.red{
  width: 1.3em;
  height: 27em;
  background-image: linear-gradient(to top, #FF1F1F, #FF6767);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em; 
  box-shadow: 0 0 2em rgba(255, 31, 31, 0.9);
}

/**********************/
/* Witte lichtzwaard */
/**********************/

section:nth-of-type(1) div div.white{
  width: 1.3em;
  height: 27em;
  background-image: linear-gradient(to top, #DBDBDB, #FFFFFF);
  border-radius: 20px 20px 0 0;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em; 
  box-shadow: 0 0 2em rgba(219, 219, 219, 0.9);
}

section:nth-of-type(2){
  background-color: rgb(151, 151, 151);
  background:linear-gradient(to bottom, rgb(204, 204, 204), rgb(51, 51, 51));
}

section:nth-of-type(3){
  background-color: #0ff;
  text-align: left;
  /* padding-top: 2em;  */
  padding-left: 2em;
  padding-top: 0.4em;  
}

section img{
  scale: 0.8;
}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}

/* ... */


@media (max-width: 70em) {
  section:nth-of-type(1) div div{
    max-height: 20em;
  }
}